<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/_system/css/proxima.woff2.css">
  <link rel="stylesheet" href="/_system/css/playfulcss/playfulcss.css">
  <link rel="stylesheet" href="/_system/css/fontawesome-free-5.3.1-web/css/all.min.css">

  <!-- Page Title -->
  <title>Document</title>

</head>

<body>

  <!--
    The Vue instance runs inside this <div id="app">.
    Also, the class="admin" loads the admin style for this page.
      -->
  <div id="app" class="admin">

    <!-- Navigation Bar-->
    <nav>

      <!-- Company Logo -->
      <h3>Remember Them Little</h3>

      <!-- Navigation Links -->
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

    </nav>

    <!-- Side Navigation Bar -->
    <aside>
      <ul>
        <li><a href="index.html" class="color-primary">Categories</a></li>
        <li><a href="packages.html">Packages</a></li>
        <li><a href="#">Addons</a></li>
        <li><a href="#">Themes</a></li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main>

      <!-- Action bar -->
      <div>
        <h3>Categories</h3>
        <button class="primary" @click="$root.$refs.add.show()">Add Category</button>
      </div>

      <!-- Table -->
      <table>

        <!-- Table headers -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr v-for="category in categories">
            <td>{{category.category_name}}</td>
            <td>{{category.category_description}}</td>
            <td>{{category.category_active == 1 ? 'Yes' : 'No'}}</td>
            <td><a @click.prevent="$root.$refs.edit.show(category)" class="color-primary">Edit</a></td>
          </tr>
        </tbody>
      </table>

    </main>

    <modal class="modal" inline-template ref="add">

      <!-- Add Category form-->
      <form v-if="visible" @submit.prevent="$root.addCategory($event); hide();">

        <fieldset>

          <!-- Form Title -->
          <legend>New Category</legend>

          <label>Category Name</label>
          <input type="text" name="category_name" required>

          <label>Category Description</label>
          <textarea style="height: 100px" name="category_description" required></textarea>

          <label><input type="checkbox" name="category_active" checked>&nbspActive</label>

          <!-- Form action buttons -->
          <div class="flex align-items-center">
            <button @click.prevent="hide">Cancel</button>
            <button type="submit" class="primary" style="margin-left: 0.5rem">Add Category</button>
          </div>

        </fieldset>
      </form>

    </modal>

    <modal class="modal" inline-template ref="edit">

      <!-- Edit Category form -->
      <form v-if="visible" @submit.prevent="$root.updateCategory(params.category_id,$event); hide();">

        <fieldset>

          <legend>Edit Category</legend>

          <label>Category Name</label>
          <input type="text" name="category_name" :value="params.category_name" required>

          <label>Category Description</label>
          <textarea style="height: 100px" name="category_description" :value="params.category_description" required></textarea>

          <label><input type="checkbox" name="category_active" :checked="(params.category_active)">&nbspActive</label>

          <!-- Action buttons -->
          <div class="flex align-items-center">
            <button @click.prevent="hide">Cancel</button>
            <button @click.prevent="$root.deleteCategory(params.category_id); hide();" style="margin-left: 0.5rem">Delete</button>
            <button type="submit" class="primary" style="margin-left: 0.5rem">Update</button>
          </div>

        </fieldset>
      </form>

    </modal>

  </div>

  <!-- Imported Scripts -->
  <script src="/_system/js/vendor/vue.js"></script>
  <script src="/_system/js/components/components.js"></script>
  <script src="/_system/js/vendor/vue-resource@1.5.1.js"></script>

  <!-- Local Scripts -->
  <script>

    // Vue Instance
    var app = new Vue({
      el: '#app',
      data: {
        categories: []
      },
      created: function () {
        this.loadCategories();
      },
      methods: {

        loadCategories: function () {

          Vue.http.get('/_system/php/api/categories/getAll.php')
            .then(
              response => {

                if (response.body.success)
                  this.categories = response.body.data;
                else
                  console.error(response.body.message);
              },
              response => {
                console.log('fail');
              });
        },

        addCategory: function (submitEvent) {

          var elements = submitEvent.target.elements;
          var formData = new FormData();
          formData.append('category_name', elements.category_name.value);
          formData.append('category_description', elements.category_description.value);
          formData.append('category_active', elements.category_active.checked ? 1 : 0);

          Vue.http.post('/_system/php/api/categories/add.php', formData)
            .then(

              // If the server request is successful
              response => {

                // If the PHP file has no errors
                if (response.body.success) {
                  this.loadCategories();
                }
                else
                  console.error(response.body.message)

              },

              // If the server request is unsuccessful
              response => {

                console.error(response);

              });

        },

        updateCategory: function (category_id, submitEvent) {

          var elements = submitEvent.target.elements;
          var formData = new FormData();
          formData.append('category_id', category_id);
          formData.append('category_name', elements.category_name.value);
          formData.append('category_description', elements.category_description.value);
          formData.append('category_active', elements.category_active.checked ? 1 : 0);

          Vue.http.post('/_system/php/api/categories/update.php', formData)
            .then(

              // If the server request is successful
              response => {

                // If the PHP file has no errors
                if (response.body.success) {
                  this.loadCategories();
                }
                else
                  console.error(response.body.message)

              },

              // If the server request is unsuccessful
              response => {

                console.error(response);

              });

        },

        deleteCategory: function (category_id) {

          var formData = new FormData();
          formData.append('category_id', category_id);

          Vue.http.post('/_system/php/api/categories/delete.php', formData)
            .then(

              // If the server request is successful
              response => {

                // If the PHP file has no errors
                if (response.body.success) {
                  this.loadCategories();
                }
                else
                  console.error(response.body.message)

              },

              // If the server request is unsuccessful
              response => {

                console.error(response);

              });

        }
      }
    })

  </script>


</body>

</html>