<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/_system/css/proxima.woff2.css">
  <link rel="stylesheet" href="/_system/css/playfulcss/playfulcss.css">
  <link rel="stylesheet" href="/_system/css/fontawesome-free-5.3.1-web/css/all.min.css">

  <!-- Page Title -->
  <title>Document</title>

</head>

<body>

  <!--
    The Vue instance runs inside this <div id="app">.
    Also, the class="admin" loads the admin style for this page.
      -->
  <div id="app" class="admin">

    <!-- Navigation Bar-->
    <nav>

      <!-- Company Logo -->
      <h3>Remember Them Little</h3>

      <!-- Navigation Links -->
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

    </nav>

    <!-- Side Navigation Bar -->
    <aside>
      <ul>
        <li><a href="index.html">Categories</a></li>
        <li><a href="packages.html" class="color-primary">Packages</a></li>
        <li><a href="#">Addons</a></li>
        <li><a href="#">Themes</a></li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main>

      <!-- Action bar -->
      <div>
        <h3>Packages</h3>
        <button class="primary" @click="$root.$refs.add.show()">Add Packages</button>
      </div>

      <!-- Table -->
      <table>

        <!-- Table headers -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Minutes</th>
            <th>Themes</th>
            <th>Active</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr v-for="package in packages">
            <td>{{package.package_name}}</td>
            <td>{{package.package_description}}</td>
            <td>{{package.package_price}}</td>
            <td>{{package.package_minutes}}</td>
            <td>{{package.package_themes}}</td>
            <td>{{package.package_active == 1 ? 'Yes' : 'No'}}</td>
            <td><a @click.prevent="$root.$refs.edit.show(package)" class="color-primary">Edit</a></td>
          </tr>
        </tbody>
      </table>

    </main>

    <modal class="modal" inline-template ref="add">

      <!-- Add Package form-->
      <form v-if="visible" @submit.prevent="$root.addPackage($event); hide();">

        <fieldset>

          <!-- Form Title -->
          <legend>New Package</legend>

          <label>Category</label>
          <select><option>Category</option></select>

          <label>Package Name</label>
          <input type="text" name="package_name" required>

          <label>Package Description</label>
          <textarea style="height: 100px" name="package_description" required></textarea>

          <label>Package Price</label>
          <input type="number" name="package_price" required>

          <label>Package Minutes</label>
          <input type="number" name="package_minutes" required>

          <label>Package Themes</label>
          <input type="number" name="package_themes" required>

          <label><input type="checkbox" name="package_active" checked>&nbspActive</label>

          <!-- Form action buttons -->
          <div class="flex align-items-center">
            <button @click.prevent="hide">Cancel</button>
            <button type="submit" class="primary" style="margin-left: 0.5rem">Add Package</button>
          </div>

        </fieldset>
      </form>

    </modal>

    <modal class="modal" inline-template ref="edit">

      <!-- Edit Category form -->
      <form v-if="visible" @submit.prevent="$root.updatePackage(params.package_id,$event); hide();">

        <fieldset>

          <legend>Edit Package</legend>

          <label>Category</label>
          <select><option>Category</option></select>

          <label>Package Name</label>
          <input type="text" name="package_name" :value="params.package_name" required>

          <label>Package Description</label>
          <textarea style="height: 100px" name="package_description" required></textarea>

          <label>Package Price</label>
          <input type="number" name="package_price" required>

          <label>Package Minutes</label>
          <input type="number" name="package_minutes" required>

          <label>Package Themes</label>
          <input type="number" name="package_themes" required>

          <label><input type="checkbox" name="package_active" :checked="(params.package_active)">&nbspActive</label>

          <!-- Action buttons -->
          <div class="flex align-items-center">
            <button @click.prevent="hide">Cancel</button>
            <button @click.prevent="$root.deletePackage(params.package_id); hide();" style="margin-left: 0.5rem">Delete</button>
            <button type="submit" class="primary" style="margin-left: 0.5rem">Update</button>
          </div>

        </fieldset>
      </form>

    </modal>

  </div>

  <!-- Imported Scripts -->
  <script src="/_system/js/vendor/vue.js"></script>
  <script src="/_system/js/components/components.js"></script>
  <script src="/_system/js/vendor/vue-resource@1.5.1.js"></script>

  <!-- Local Scripts -->
  <script>

    // Vue Instance
    var app = new Vue({
      el: '#app',
      data: {
        packages: []
      },
      created: function () {
        this.loadPackages();
      },
      methods: {

        loadPackages: function () {

          Vue.http.get('/_system/php/api/packages/getAll.php')
            .then(
              response => {

                if (response.body.success)
                  this.packages = response.body.data;
                else
                  console.error(response.body.message);
              },
              response => {
                console.log('fail');
              });
        },

        addPackage: function (submitEvent) {

          var elements = submitEvent.target.elements;
          var formData = new FormData();
          formData.append('package_name', elements.package_name.value);
          formData.append('package_description', elements.package_description.value);
          formData.append('category_id', elements.category_id.value);
          formData.append('package_price', elements.package_price.value);
          formData.append('package_minutes', elements.package_minutes.value);
          formData.append('package_themes', elements.package_themes.value);
          formData.append('package_active', elements.package_active.checked ? 1 : 0);

          Vue.http.post('/_system/php/api/packages/add.php', formData)
            .then(

              // If the server request is successful
              response => {

                // If the PHP file has no errors
                if (response.body.success) {
                  this.loadPackages();
                }
                else
                  console.error(response.body.message)

              },

              // If the server request is unsuccessful
              response => {

                console.error(response);

              });

        },

        updatePackage: function (package_id, submitEvent) {

          var elements = submitEvent.target.elements;
          var formData = new FormData();
          formData.append('package_id', package_id);
          formData.append('package_name', elements.package_name.value);
          formData.append('package_description', elements.package_description.value);
          formData.append('category_id', elements.category_id.value);
          formData.append('package_price', elements.package_price.value);
          formData.append('package_minutes', elements.package_minutes.value);
          formData.append('package_themes', elements.package_themes.value);
          formData.append('package_active', elements.package_active.checked ? 1 : 0);

          Vue.http.post('/_system/php/api/packages/update.php', formData)
            .then(

              // If the server request is successful
              response => {

                // If the PHP file has no errors
                if (response.body.success) {
                  this.loadPackages();
                }
                else
                  console.error(response.body.message)

              },

              // If the server request is unsuccessful
              response => {

                console.error(response);

              });

        },

        deletePackage: function (package_id) {

          var formData = new FormData();
          formData.append('package_id', package_id);

          Vue.http.post('/_system/php/api/packages/delete.php', formData)
            .then(

              // If the server request is successful
              response => {

                // If the PHP file has no errors
                if (response.body.success) {
                  this.loadPackages();
                }
                else
                  console.error(response.body.message)

              },

              // If the server request is unsuccessful
              response => {

                console.error(response);

              });

        }
      }
    })

  </script>


</body>

</html>