.index

    nav
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1rem
        position: fixed
        width: 100%
        background-color: white
        z-index: 1

        > a
            padding: 1rem
            display: flex
            align-items: center

            > i
                font-size: 1.2rem

        > a:nth-child(2)
            color: $color-primary

    main
        width: 100%
        height: 100vh
        display: flex
        justify-content: center
        align-items: center

        div:first-child
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            > i
                font-size: 3rem
                font-weight: lighter
                color: #495057
                margin-bottom: 1rem

            > h1
                display: flex
                flex-wrap: wrap
                justify-content: center
                margin-bottom: 2rem
                text-align: center

                span
                    margin-left: 0.3rem
                    margin-right: 0.3rem

            > a:first-of-type
                @extend .color-primary
                display: flex
                align-items: center

                i
                    font-size: 1.25rem
                
            div:first-of-type
                justify-content: center
                display: flex
                flex-wrap: wrap
                
                button
                    padding: 1rem 1.5rem
                    justify-content: center
                    width: 13rem
                    margin: 0.5rem

                button:first-of-type
                    @extend .primary

                button:nth-of-type(2)
                    @extend .outline

            

    .blocker
        position: fixed
        display: inline-block
        width: 100%
        height: 100vh
        top: 0
        left: 0
        background-color: rgba(0,0,0,0.5)
        z-index: 2

    .drawer
        position: fixed
        top: 0
        left: 0
        height: 100vh
        display: flex
        flex-direction: column
        background-color: $color-white
        box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0,0,0,0.05)
        padding: 1rem 1rem 1rem 0rem
        z-index: 3

        a
            padding: 1rem 2rem
            position: relative

        a:first-child
            text-align: center
            margin-bottom: 1rem
    
            > h2 > i
                margin-bottom: 0.25rem
                font-size: 3rem
                font-weight: normal

        a.active
            color: $color-white
            background-color: $color-primary
            border-radius: 0 2rem 2rem 0

    .signin
        background-color: rgba(0,0,0,0.5)
        box-shadow: 0rem 0.25rem 0.125rem 0 rgba(0,0,0,0.05)
        position: fixed
        width: 100%
        height: 100vh
        top: 0
        left: 0
        z-index: 2
        display: flex

        > div
            margin: auto
            background-color: white
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            padding: 3rem 2rem
            border-radius: 2rem
            text-align: center
            border-radius: 0.25rem
            padding-bottom: 3rem
            position: relative

            > i:first-child
                font-size: 3rem
                margin-bottom: 0.5rem

            > h2
                margin-bottom: 1.5rem

            > button
                width: 15rem
                margin: 0.5rem
                padding: 1rem
                justify-content: center

                i
                    font-size: 1.2rem
                    margin-right: 0.25rem

            > button:first-of-type
                @extend .primary

            > button:last-of-type
                @extend .outline