.index
    background-color: white

    nav
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0.75rem 1rem
        position: fixed
        width: 100%

        > *
            padding: 1rem
            display: flex
            align-items: center

            > i
                font-size: 1.2rem

        > a:nth-child(2)
            color: $color-primary

        .nav-logo
            display: none
            width: 15rem
            @include large
                display: inline-block

        .links
            display: none
            margin-right: 2rem
            
            a
                padding: 0.5rem 1rem
                
            @include large
                display: flex

        
        .bars
            @include large
                display: none

        .account_options
            display: flex
            position: fixed
            right: 0
            top: 0
            margin-right: 1rem
            margin-top: 1rem
            flex-direction: column
            box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05)
            background-color: white

            > a
                display: flex
                align-items: center
                padding: 1rem 1.5rem

                i
                    margin-right: 0.25rem

    main.main-index
        width: 95%
        margin-left: auto
        margin-right: auto
        height: 100vh
        display: flex
        justify-content: center
        align-items: center  

        .banner-image
            position: absolute
            bottom: 0
            left: 0
            width: 100VW
            z-index: -10
            border-radius: 5rem/2rem 0 0 

            @include medium
                position: relative                
                width: 40vw
                border-radius: 10rem 
                margin-right: 3rem

        div.container
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            @include medium
                justify-content: flex-start
                align-items: flex-start

            

            h3.banner-message
                margin: 1.5rem
                display: flex
                flex-wrap: wrap
                justify-content: center
                text-align: center
                font-size: 2.5rem

                @include large
                    font-size: 4.5rem
                    justify-content: flex-start
                    text-align: left
                    margin-left: 0.5rem
                    max-width: 35vw

            .book-cta, .blur
                position: relative
                display: flex
                align-items: center
                color: white
                background: linear-gradient(-45deg, #FFC85F, #FF5F99, #55ACFF, #5EF3E7)
                background-size: 600%
                animation: anime 16s linear infinite
                    
                i
                    font-size: 1.25rem
                
            .blur
                width: 100%
                height: 50%
                position: absolute
                z-index: -1
                filter: blur(20px)
                border-radius: 2rem
                opacity: 0.8
                bottom: -0.5rem
                margin: 0 !important
                left: 0
                border-width: 0px !important

                
            div.cta-row
                justify-content: center
                display: flex
                flex-wrap: wrap

                @include large
                    justify-content: flex-start
                
                a
                    @extend .button
                    display: flex
                    padding: 1rem 1.5rem
                    justify-content: center
                    align-items: center
                    width: 13rem
                    margin: 0.5rem
                    
                    i
                        margin-left: 1rem


                a:first-of-type
                    @extend .primary

                a:nth-of-type(2)
                    @extend .outline

            .construction
                border-radius: 1rem
                color: #eebb00


    .blocker
        position: fixed
        display: inline-block
        width: 100%
        height: 100vh
        top: 0
        left: 0
        background-color: rgba(0,0,0,0.5)
        z-index: 2

    .drawer
        position: fixed
        top: 0
        left: 0
        height: 100vh
        display: flex
        flex-direction: column
        background-color: $color-white
        box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0,0,0,0.05)
        padding: 1rem 1rem 1rem 0rem
        z-index: 3

        a
            padding: 1rem 2rem
            position: relative

        a:first-child
            text-align: center
            margin-bottom: 1rem
    
            > h2 > i
                margin-bottom: 0.25rem
                font-size: 3rem
                font-weight: normal

        a.active
            color: $color-white
            background-color: $color-primary
            border-radius: 0 2rem 2rem 0

    .signin
        background-color: rgba(0,0,0,0.5)
        box-shadow: 0rem 0.25rem 0.125rem 0 rgba(0,0,0,0.05)
        position: fixed
        width: 100%
        height: 100vh
        top: 0
        left: 0
        z-index: 2
        display: flex

        > div
            margin: auto
            background-color: white
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            padding: 3rem 2rem
            border-radius: 2rem
            text-align: center
            border-radius: 0.25rem
            padding-bottom: 3rem
            position: relative

            > i:first-child
                font-size: 3rem
                margin-bottom: 0.5rem

            > h2
                margin-bottom: 1.5rem

            > button
                width: 15rem
                margin: 0.5rem
                padding: 1rem
                justify-content: center

                i
                    font-size: 1.2rem
                    margin-right: 0.25rem

            > button:first-of-type
                @extend .primary

            > button:last-of-type
                @extend .outline

@keyframes anime 
   0%
     background-position: 0% 50%
   50%
     background-position: 100% 50%
   100%
     background-position: 0% 50%