.overview-container
    display: grid
    grid-template-columns: auto auto auto
    grid-gap: 10px
    width: 100%
    min-height: 500px

    .logs-container
        grid-row-start: 1
        grid-row-end: 3
        overflow-y: auto

    .revenues-chart-container
        display: flex
        align-items: center
        justify-content: center

    .registration-count-container
        display: flex
        align-items: center
        justify-content: center

    .online-customers-container
        display: flex
        align-items: center
        justify-content: center

    .bookings-chart-container
        display: flex
        align-items: center
        justify-content: center
    
    .bookings-approval-container
        grid-column-start: 1
        grid-column-end: 4
        overflow-y: auto
