.services
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 2em

    .services-section-title
        margin-bottom: 1em

    .why-choose-us
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin-top: 1em

        .why-choose-title
            margin-bottom: 1em

        .why-choose-subtitle
                