.pacifico {
  font-family: 'Pacifico', cursive;
}

.fredoka {
  font-family: 'Fredoka One', cursive;
}

.grand_hotel {
  font-family: 'Grand Hotel', cursive;
}

.yeseva {
  font-family: 'Yeseva One', cursive;
}

.sail {
  font-family: 'Sail', cursive;
}

.font-primary, body {
  font-family: "Proxima Soft", "Segoe UI", "Roboto", "Open Sans", sans-serif;
}

.color-primary, .index main div:first-child > a:first-of-type, .dashboard main .bookings table td a {
  color: #228be6;
}

.color-dark {
  color: #495057;
}

.none {
  display: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block, a {
  display: inline-block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.fixed, .modal {
  position: fixed;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wide {
  width: 100%;
}

.high {
  height: 100vh;
}

.max-wide {
  max-width: 100%;
}

button, a.button, .index main div:first-child div:first-of-type a, .dashboard main .bookings table td a, .dashboard .notification-modal > h3 > a, .dashboard .booking-modal > h3 > a, .transactions .booking-modal > h3 > a {
  color: #495057;
  font-family: "Proxima Soft", "Segoe UI", "Roboto", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9ecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
  border: 2px solid #e9ecef;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s background-color, 0.2s border-color;
  transition: 0.2s background-color, 0.2s border-color;
}

button:hover, a.button:hover, .index main div:first-child div:first-of-type a:hover, .dashboard main .bookings table td a:hover, .dashboard .notification-modal > h3 > a:hover, .dashboard .booking-modal > h3 > a:hover, .transactions .booking-modal > h3 > a:hover {
  background-color: #dae0e5;
  border-color: #dae0e5;
}

button:active, a.button:active, .index main div:first-child div:first-of-type a:active, .dashboard main .bookings table td a:active, .dashboard .notification-modal > h3 > a:active, .dashboard .booking-modal > h3 > a:active, .transactions .booking-modal > h3 > a:active {
  background-color: #bdc6d0;
}

button:focus, a.button:focus, .index main div:first-child div:first-of-type a:focus, .dashboard main .bookings table td a:focus, .dashboard .notification-modal > h3 > a:focus, .dashboard .booking-modal > h3 > a:focus, .transactions .booking-modal > h3 > a:focus {
  border: 2px solid #cbd3da;
}

button.primary, a.primary.button, .index main div:first-child div:first-of-type a.primary, .index main div:first-child div:first-of-type a:first-of-type, .dashboard main .bookings table td a.primary, .dashboard .notification-modal > h3 > a.primary, .dashboard .booking-modal > h3 > a.primary, .transactions .booking-modal > h3 > a.primary, .index .signin > div > button:first-of-type, .index .signin > div > a.button:first-of-type, .index .dashboard main .bookings table td .signin > div > a:first-of-type, .dashboard main .bookings table td .index .signin > div > a:first-of-type, .dashboard main .control button, .dashboard main .control a.button, .dashboard .index main .control div:first-child div:first-of-type a, .index .dashboard main .control div:first-child div:first-of-type a, .dashboard .index main div:first-child div:first-of-type .control a, .index .dashboard main div:first-child div:first-of-type .control a, .dashboard main .control .bookings table td a, .dashboard main .bookings table td .control a, .dashboard main .control .notification-modal > h3 > a, .dashboard main .control .booking-modal > h3 > a, .dashboard main .control .transactions .booking-modal > h3 > a {
  color: #ffffff;
  background-color: #228be6;
  border-color: #228be6;
}

button.primary:hover, a.primary.button:hover, .index main div:first-child div:first-of-type a.primary:hover, .index main div:first-child div:first-of-type a:hover:first-of-type, .dashboard main .bookings table td a.primary:hover, .dashboard .notification-modal > h3 > a.primary:hover, .dashboard .booking-modal > h3 > a.primary:hover, .transactions .booking-modal > h3 > a.primary:hover, .index .signin > div > button:hover:first-of-type, .index .signin > div > a.button:hover:first-of-type, .index .dashboard main .bookings table td .signin > div > a:hover:first-of-type, .dashboard main .bookings table td .index .signin > div > a:hover:first-of-type, .dashboard main .control button:hover, .dashboard main .control a.button:hover, .dashboard .index main .control div:first-child div:first-of-type a:hover, .index .dashboard main .control div:first-child div:first-of-type a:hover, .dashboard .index main div:first-child div:first-of-type .control a:hover, .index .dashboard main div:first-child div:first-of-type .control a:hover, .dashboard main .control .bookings table td a:hover, .dashboard main .bookings table td .control a:hover, .dashboard main .control .notification-modal > h3 > a:hover, .dashboard main .control .booking-modal > h3 > a:hover, .dashboard main .control .transactions .booking-modal > h3 > a:hover {
  background-color: #187ed6;
  border-color: #187ed6;
}

button.primary:active, a.primary.button:active, .index main div:first-child div:first-of-type a.primary:active, .index main div:first-child div:first-of-type a:active:first-of-type, .dashboard main .bookings table td a.primary:active, .dashboard .notification-modal > h3 > a.primary:active, .dashboard .booking-modal > h3 > a.primary:active, .transactions .booking-modal > h3 > a.primary:active, .index .signin > div > button:active:first-of-type, .index .signin > div > a.button:active:first-of-type, .index .dashboard main .bookings table td .signin > div > a:active:first-of-type, .dashboard main .bookings table td .index .signin > div > a:active:first-of-type, .dashboard main .control button:active, .dashboard main .control a.button:active, .dashboard .index main .control div:first-child div:first-of-type a:active, .index .dashboard main .control div:first-child div:first-of-type a:active, .dashboard .index main div:first-child div:first-of-type .control a:active, .index .dashboard main div:first-child div:first-of-type .control a:active, .dashboard main .control .bookings table td a:active, .dashboard main .bookings table td .control a:active, .dashboard main .control .notification-modal > h3 > a:active, .dashboard main .control .booking-modal > h3 > a:active, .dashboard main .control .transactions .booking-modal > h3 > a:active {
  background-color: #105692;
}

button.primary:focus, a.primary.button:focus, .index main div:first-child div:first-of-type a.primary:focus, .index main div:first-child div:first-of-type a:focus:first-of-type, .dashboard main .bookings table td a.primary:focus, .dashboard .notification-modal > h3 > a.primary:focus, .dashboard .booking-modal > h3 > a.primary:focus, .transactions .booking-modal > h3 > a.primary:focus, .index .signin > div > button:focus:first-of-type, .index .signin > div > a.button:focus:first-of-type, .index .dashboard main .bookings table td .signin > div > a:focus:first-of-type, .dashboard main .bookings table td .index .signin > div > a:focus:first-of-type, .dashboard main .control button:focus, .dashboard main .control a.button:focus, .dashboard .index main .control div:first-child div:first-of-type a:focus, .index .dashboard main .control div:first-child div:first-of-type a:focus, .dashboard .index main div:first-child div:first-of-type .control a:focus, .index .dashboard main div:first-child div:first-of-type .control a:focus, .dashboard main .control .bookings table td a:focus, .dashboard main .bookings table td .control a:focus, .dashboard main .control .notification-modal > h3 > a:focus, .dashboard main .control .booking-modal > h3 > a:focus, .dashboard main .control .transactions .booking-modal > h3 > a:focus {
  border: 2px solid #1671bf;
}

button.outline, a.outline.button, .index main div:first-child div:first-of-type a.outline, .index main div:first-child div:first-of-type a:nth-of-type(2), .index .dashboard main div:first-child div:first-of-type .bookings table td a, .dashboard .index main div:first-child div:first-of-type .bookings table td a, .index .dashboard main .bookings table td div:first-child div:first-of-type a, .dashboard .index main .bookings table td div:first-child div:first-of-type a, .index main div:first-child div:first-of-type .dashboard .notification-modal > h3 > a, .dashboard .index main div:first-child div:first-of-type .notification-modal > h3 > a, .index main div:first-child div:first-of-type .dashboard .booking-modal > h3 > a, .dashboard .index main div:first-child div:first-of-type .booking-modal > h3 > a, .index main div:first-child div:first-of-type .transactions .booking-modal > h3 > a, .transactions .index main div:first-child div:first-of-type .booking-modal > h3 > a, .dashboard main .bookings table td a, .dashboard .notification-modal > h3 > a, .dashboard .booking-modal > h3 > a, .transactions .booking-modal > h3 > a, .index .signin > div > button:last-of-type, .index .signin > div > a.button:last-of-type, .index main div:first-child div:first-of-type .signin > div > a:last-of-type, .index .dashboard main .bookings table td .signin > div > a:last-of-type, .dashboard main .bookings table td .index .signin > div > a:last-of-type {
  background-color: transparent;
}

button.outline:active, a.outline.button:active, .index main div:first-child div:first-of-type a.outline:active, .index main div:first-child div:first-of-type a:active:nth-of-type(2), .index main div:first-child div:first-of-type .dashboard .notification-modal > h3 > a:active, .dashboard .index main div:first-child div:first-of-type .notification-modal > h3 > a:active, .index main div:first-child div:first-of-type .dashboard .booking-modal > h3 > a:active, .dashboard .index main div:first-child div:first-of-type .booking-modal > h3 > a:active, .index main div:first-child div:first-of-type .transactions .booking-modal > h3 > a:active, .transactions .index main div:first-child div:first-of-type .booking-modal > h3 > a:active, .dashboard main .bookings table td a:active, .dashboard .notification-modal > h3 > a:active, .dashboard .booking-modal > h3 > a:active, .transactions .booking-modal > h3 > a:active, .index .signin > div > button:active:last-of-type, .index .signin > div > a.button:active:last-of-type, .index main div:first-child div:first-of-type .signin > div > a:active:last-of-type {
  background-color: #dae0e5;
}

button.outline:focus, a.outline.button:focus, .index main div:first-child div:first-of-type a.outline:focus, .index main div:first-child div:first-of-type a:focus:nth-of-type(2), .index main div:first-child div:first-of-type .dashboard .notification-modal > h3 > a:focus, .dashboard .index main div:first-child div:first-of-type .notification-modal > h3 > a:focus, .index main div:first-child div:first-of-type .dashboard .booking-modal > h3 > a:focus, .dashboard .index main div:first-child div:first-of-type .booking-modal > h3 > a:focus, .index main div:first-child div:first-of-type .transactions .booking-modal > h3 > a:focus, .transactions .index main div:first-child div:first-of-type .booking-modal > h3 > a:focus, .dashboard main .bookings table td a:focus, .dashboard .notification-modal > h3 > a:focus, .dashboard .booking-modal > h3 > a:focus, .transactions .booking-modal > h3 > a:focus, .index .signin > div > button:focus:last-of-type, .index .signin > div > a.button:focus:last-of-type, .index main div:first-child div:first-of-type .signin > div > a:focus:last-of-type {
  border: 2px solid #cbd3da;
}

button.color-primary, a.color-primary.button, .index main div:first-child > a.button:first-of-type, .index main div:first-child div:first-of-type div:first-child > a:first-of-type, .index .dashboard main .bookings table td div:first-child > a:first-of-type, .dashboard .index main .bookings table td div:first-child > a:first-of-type, .index main div:first-child div:first-of-type a.color-primary, .index .dashboard main div:first-child div:first-of-type .bookings table td a, .dashboard .index main div:first-child div:first-of-type .bookings table td a, .index .dashboard main .bookings table td div:first-child div:first-of-type a, .dashboard .index main .bookings table td div:first-child div:first-of-type a, .dashboard main .bookings table td a, .dashboard .notification-modal > h3 > a.color-primary, .dashboard .booking-modal > h3 > a.color-primary, .transactions .booking-modal > h3 > a.color-primary {
  color: #228be6 !important;
}

a {
  color: #919599;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  cursor: pointer;
}

a:hover {
  color: #495057;
}

a.button, .index main div:first-child div:first-of-type a, .dashboard main .bookings table td a, .dashboard .notification-modal > h3 > a, .dashboard .booking-modal > h3 > a, .transactions .booking-modal > h3 > a {
  text-decoration: none;
}

.modal {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 0 0px 50vw rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0px 50vw rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.card {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

input:not([type=checkbox]):not([type=radio]), select, textarea {
  font-family: "Proxima Soft", "Segoe UI", "Roboto", "Open Sans", sans-serif;
  color: #495057;
  background-color: white;
  border: 2px solid #e9ecef;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  height: 2.5rem;
}

input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio])::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio])::placeholder, select::placeholder, textarea::placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio]):focus, select:focus, textarea:focus {
  border: 2px solid #cbd3da;
}

input:not([type=checkbox]):not([type=radio]).custom, select.custom, textarea.custom {
  background-color: #f8f9fa !important;
  border: 2px solid #f8f9fa !important;
  font-weight: 600 !important;
  height: initial !important;
  color: #495057 !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 2rem !important;
}

input:not([type=checkbox]):not([type=radio]).custom::-webkit-input-placeholder, select.custom::-webkit-input-placeholder, textarea.custom::-webkit-input-placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom:-ms-input-placeholder, select.custom:-ms-input-placeholder, textarea.custom:-ms-input-placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom::-ms-input-placeholder, select.custom::-ms-input-placeholder, textarea.custom::-ms-input-placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom::placeholder, select.custom::placeholder, textarea.custom::placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom:focus, select.custom:focus, textarea.custom:focus {
  border: 2px solid #e9ecef !important;
}

form {
  padding: 1rem;
}

form input:not([type=checkbox]):not([type=radio]), form select, form textarea {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

form textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

form label {
  color: #495057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

form fieldset {
  border-radius: 1rem;
  border: 0px;
  padding: 1rem;
}

form fieldset.outline {
  border: 2px solid #e9ecef;
}

form fieldset legend {
  color: #495057;
  font-size: 1.2rem;
  font-weight: 600;
}

table {
  border-spacing: 0;
}

table td, table th {
  color: #495057;
  text-align: left;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #e9ecef;
}

table td:last-child, table th:last-child {
  padding-right: 0;
}

rigid {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

rigid[small] {
  width: 0.5rem;
  height: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #495057;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a > * + *, button > * + *, a.button > * + *, .index main div:first-child div:first-of-type a > * + *, .dashboard main .bookings table td a > * + *, .dashboard .notification-modal > h3 > a > * + *, .dashboard .booking-modal > h3 > a > * + *, .transactions .booking-modal > h3 > a > * + * {
  margin-left: 0.5rem;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

*[v-cloak] {
  display: none;
}

.index nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.index nav > * {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index nav > * > i {
  font-size: 1.2rem;
}

.index nav > a:nth-child(2) {
  color: #228be6;
}

.index nav .account_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}

.index nav .account_options > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}

.index nav .account_options > a i {
  margin-right: 0.25rem;
}

.index main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index main div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index main div:first-child > i {
  font-size: 3rem;
  font-weight: lighter;
  color: #495057;
  margin-bottom: 1rem;
}

.index main div:first-child > h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.index main div:first-child > h1 span {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.index main div:first-child > a:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index main div:first-child > a:first-of-type i {
  font-size: 1.25rem;
}

.index main div:first-child div:first-of-type {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index main div:first-child div:first-of-type a {
  padding: 1rem 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13rem;
  margin: 0.5rem;
}

.index .blocker {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.index .drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 1rem 0rem;
  z-index: 3;
}

.index .drawer a {
  padding: 1rem 2rem;
  position: relative;
}

.index .drawer a:first-child {
  text-align: center;
  margin-bottom: 1rem;
}

.index .drawer a:first-child > h2 > i {
  margin-bottom: 0.25rem;
  font-size: 3rem;
  font-weight: normal;
}

.index .drawer a.active {
  color: #ffffff;
  background-color: #228be6;
  border-radius: 0 2rem 2rem 0;
}

.index .signin {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0rem 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0rem 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .signin > div {
  margin: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border-radius: 0.25rem;
  padding-bottom: 3rem;
  position: relative;
}

.index .signin > div > i:first-child {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.index .signin > div > h2 {
  margin-bottom: 1.5rem;
}

.index .signin > div > button, .index .signin > div > a.button, .index main div:first-child div:first-of-type .signin > div > a, .index .dashboard main .bookings table td .signin > div > a, .dashboard main .bookings table td .index .signin > div > a {
  width: 15rem;
  margin: 0.5rem;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index .signin > div > button i, .index .signin > div > a.button i, .index main div:first-child div:first-of-type .signin > div > a i, .index .dashboard main .bookings table td .signin > div > a i, .dashboard main .bookings table td .index .signin > div > a i {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.admin nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.admin nav > a {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin nav > a > i {
  font-size: 1.2rem;
}

.admin nav > a:nth-child(2) {
  color: #228be6;
}

.admin main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.admin main .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
}

.admin main .control .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin main .control .filter i {
  margin-left: 0.5rem;
}

.admin main .control .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin main .control .group a {
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  color: #919599;
}

.admin main .control .group a.active {
  background-color: #228be6;
  color: #ffffff;
}

.admin main .control .group a:first-child {
  border-radius: 2rem 0rem 0rem 2rem;
}

.admin main .control .group a:last-child {
  border-radius: 0rem 2rem 2rem 0rem;
}

.admin main table {
  margin-bottom: 2rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.admin main table tbody tr td:first-child {
  width: 4rem;
}

.admin main table tbody tr td.booking {
  background-color: #f8f9fa;
  border-bottom: 0;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  padding: 1rem;
}

.admin main table tbody tr td.booking div.booking-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin main table tbody tr td.booking div.booking-item * > i {
  width: 1rem;
  text-align: center;
  margin-right: 0.25rem;
}

.admin main table tbody tr td.booking div.booking-item * + * {
  margin-top: 0.25rem;
}

.admin main table tbody tr td.booking div.booking-item .client-name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.admin main table tbody tr td.booking div.booking-item .package {
  font-size: 0.9rem;
}

.admin main table tbody tr td.booking div.booking-item .themes {
  font-size: 0.9rem;
}

.admin main .week-table-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin main .week-table-container > div {
  overflow-x: auto;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.admin main .week-table-container > div > table {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.admin main .week-table-container > table:first-child {
  margin-right: 0;
  padding-right: 0;
}

.admin main .week-table-container table {
  width: initial;
  height: 100%;
}

.admin main .week-table-container table th {
  text-align: center;
}

.admin main .week-table-container table th span {
  display: block;
  font-weight: lighter;
  font-size: 0.8rem;
}

.admin main .week-table-container table tr td {
  min-width: 4rem;
}

.admin main .month-table td {
  padding: 0.25rem;
}

.admin main .month-table td.today {
  background-color: #f8f9fa;
}

.admin main .month-table td div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin main .month-table td div .date {
  font-size: 0.8rem;
}

.admin main .month-table td div .bookings-completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: green;
  border-radius: 1rem;
}

.admin main .month-table td div .bookings-completed i {
  margin-right: 0.25rem;
}

.admin main .month-table td div .bookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  border-radius: 1rem;
}

.admin main .month-table td div .bookings i {
  margin-right: 0.25rem;
}

.admin .blocker {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.admin .drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  background-color: #228be6;
  -webkit-box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 1rem 0rem;
  z-index: 3;
}

.admin .drawer a {
  border-radius: 0 2rem 2rem 0;
  padding: 1rem 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.admin .drawer a i {
  width: 1rem;
  text-align: center;
  margin-right: 0.5rem;
}

.admin .drawer > a + div a {
  font-weight: lighter;
}

.admin .drawer > a + div a.active {
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.admin .drawer > a + div a:hover {
  color: #ffffff;
}

.admin .drawer > a.active {
  color: #228be6;
  background-color: #ffffff;
}

.admin .drawer > a:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dashboard nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.dashboard nav a {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard nav a i {
  font-size: 1.2rem;
}

.dashboard nav .account_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}

.dashboard nav .account_options > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}

.dashboard nav .account_options > a i {
  margin-right: 0.25rem;
}

.dashboard nav > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard main {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dashboard main .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.dashboard main .bookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard main .bookings table {
  width: 100%;
}

.dashboard main .bookings table td:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard main .bookings table td:first-child div span:nth-child(2) {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.dashboard main .bookings table td a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 1px;
  border-color: #228be6;
}

.dashboard main .bookings table td:last-child {
  padding-right: 0;
}

.dashboard .notification-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .notification-modal > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .booking-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .booking-modal > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .booking-modal .overflow-container {
  overflow: auto;
}

.dashboard .booking-modal .overflow-container table {
  margin-top: 1rem;
  width: 100%;
}

.dashboard .booking-modal .overflow-container table td:last-child {
  padding-right: 0;
}

.dashboard .booking-modal .overflow-container table td:first-child {
  font-weight: bold;
}

.dashboard .booking-modal .overflow-container table button, .dashboard .booking-modal .overflow-container table a.button, .dashboard .booking-modal .overflow-container table .index main div:first-child div:first-of-type a, .index main div:first-child div:first-of-type .dashboard .booking-modal .overflow-container table a, .dashboard .booking-modal .overflow-container main .bookings table td a, .dashboard main .bookings .booking-modal .overflow-container table td a, .dashboard .booking-modal .overflow-container table .notification-modal > h3 > a, .dashboard .booking-modal .overflow-container table .booking-modal > h3 > a, .dashboard .booking-modal .overflow-container table .transactions .booking-modal > h3 > a {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .booking-modal .overflow-container details summary * {
  display: inline;
}

.dashboard .blocker {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.dashboard .drawer {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 1rem 0rem;
  z-index: 3;
}

.dashboard .drawer a {
  padding: 1rem 2rem;
  position: relative;
}

.dashboard .drawer a i {
  width: 1rem;
  text-align: center;
  margin-right: 0.5rem;
}

.dashboard .drawer a:first-child {
  text-align: center;
  margin-bottom: 1rem;
}

.dashboard .drawer a:first-child > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: lighter;
}

.dashboard .drawer a:first-child > h2 > i {
  width: initial;
  margin-bottom: 0.25rem;
  font-size: 3rem;
  font-weight: normal;
}

.dashboard .drawer a.active {
  color: #ffffff;
  background-color: #228be6;
  border-radius: 0 2rem 2rem 0;
}

.transactions nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.transactions nav > a {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transactions nav > a > i {
  font-size: 1.2rem;
}

.transactions nav > a:nth-child(2) {
  color: #228be6;
}

.transactions main {
  padding-left: 2rem;
  padding-right: 2rem;
}

.transactions main .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.transactions main .control .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transactions main .control .filter i {
  margin-left: 0.5rem;
}

.transactions main .control .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transactions main .control .group a {
  padding: 0.5rem 1rem;
  background-color: #f8f9fa;
  color: #919599;
}

.transactions main .control .group a.active {
  background-color: #228be6;
  color: #ffffff;
}

.transactions main .control .group a:first-child {
  border-radius: 2rem 0rem 0rem 2rem;
}

.transactions main .control .group a:last-child {
  border-radius: 0rem 2rem 2rem 0rem;
}

.transactions main table {
  width: 100%;
}

.transactions .booking-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transactions .booking-modal table {
  width: 100%;
}

.transactions .booking-modal > h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.transactions .blocker {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.transactions .drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  background-color: #228be6;
  -webkit-box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0.25rem 0rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  padding: 1rem 1rem 1rem 0rem;
  z-index: 3;
}

.transactions .drawer a {
  border-radius: 0 2rem 2rem 0;
  padding: 1rem 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.transactions .drawer a i {
  width: 1rem;
  text-align: center;
  margin-right: 0.5rem;
}

.transactions .drawer > a + div a {
  font-weight: lighter;
}

.transactions .drawer > a + div a.active {
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.transactions .drawer > a + div a:hover {
  color: #ffffff;
}

.transactions .drawer > a.active {
  color: #228be6;
  background-color: #ffffff;
}

.transactions .drawer > a:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-right-enter-active, .slide-right-leave-active {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.slide-right-enter, .slide-right-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.zoom-out-enter-active, .zoom-out-leave-active {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s;
  transition: transform 0.2s ease-out, opacity 0.2s, -webkit-transform 0.2s ease-out;
}

.zoom-out-enter, .zoom-out-leave-to {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
}

.slide-left-enter-active, .slide-left-leave-active {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

.slide-left-enter {
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  opacity: 0;
}

.slide-left-leave-to {
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  opacity: 0;
}
/*# sourceMappingURL=playfulcss.css.map */