.font-primary, body {
  font-family: "Proxima Soft";
}

.color-primary {
  color: #5252FF;
}

.color-dark {
  color: #495057;
}

.none {
  display: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block, a, .admin aside ul a {
  display: inline-block;
}

.flex, .admin, .admin nav, .admin nav ul, .admin aside ul, .admin main > div, .index nav, .index nav h3, .index nav ul, .index main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.fixed, .modal {
  position: fixed;
}

.wrap, .admin {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column, .admin aside ul, .index main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-between, .admin nav, .admin main > div, .index nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center, .admin main > div, .index nav h3, .index nav ul, .index main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wide, .admin main table, .index main {
  width: 100%;
}

.high, .index {
  height: 100vh;
}

.max-wide {
  max-width: 100%;
}

button, a.button {
  color: #495057;
  font-family: "Proxima Soft";
  font-weight: 600;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9ecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
  border: 2px solid #e9ecef;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s background-color, 0.2s border-color;
  transition: 0.2s background-color, 0.2s border-color;
}

button:hover, a.button:hover {
  background-color: #dae0e5;
  border-color: #dae0e5;
}

button:active, a.button:active {
  background-color: #bdc6d0;
}

button:focus, a.button:focus {
  border: 2px solid #cbd3da;
}

button.primary, a.primary.button {
  color: #ffffff;
  background-color: #5252FF;
  border-color: #5252FF;
}

button.primary:hover, a.primary.button:hover {
  background-color: #3939ff;
  border-color: #3939ff;
}

button.primary:active, a.primary.button:active {
  background-color: #0000eb;
}

button.primary:focus, a.primary.button:focus {
  border: 2px solid #1f1fff;
}

button.outline, a.outline.button {
  background-color: transparent;
}

button.outline:active, a.outline.button:active {
  background-color: #dae0e5;
}

button.outline:focus, a.outline.button:focus {
  border: 2px solid #cbd3da;
}

button.color-primary, a.color-primary.button {
  color: #5252FF !important;
}

a {
  color: #919599;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  cursor: pointer;
}

a:hover {
  color: #495057;
}

a.button {
  text-decoration: none;
}

.modal {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-box-shadow: 0 0 0px 50vw rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0px 50vw rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.card {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

input:not([type=checkbox]):not([type=radio]), select, textarea {
  font-family: "Proxima Soft";
  color: #495057;
  background-color: white;
  border: 2px solid #e9ecef;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  height: 2.5rem;
}

input:not([type=checkbox]):not([type=radio])::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio])::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio])::placeholder, select::placeholder, textarea::placeholder {
  color: #abafb2;
}

input:not([type=checkbox]):not([type=radio]):focus, select:focus, textarea:focus {
  border: 2px solid #cbd3da;
}

input:not([type=checkbox]):not([type=radio]).custom, select.custom, textarea.custom {
  background-color: #f8f9fa !important;
  border: 2px solid #f8f9fa !important;
  font-weight: 600 !important;
  height: initial !important;
  color: #495057 !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 2rem !important;
}

input:not([type=checkbox]):not([type=radio]).custom::-webkit-input-placeholder, select.custom::-webkit-input-placeholder, textarea.custom::-webkit-input-placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom:-ms-input-placeholder, select.custom:-ms-input-placeholder, textarea.custom:-ms-input-placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom::-ms-input-placeholder, select.custom::-ms-input-placeholder, textarea.custom::-ms-input-placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom::placeholder, select.custom::placeholder, textarea.custom::placeholder {
  color: #abafb2 !important;
}

input:not([type=checkbox]):not([type=radio]).custom:focus, select.custom:focus, textarea.custom:focus {
  border: 2px solid #e9ecef !important;
}

form {
  padding: 1rem;
}

form input:not([type=checkbox]):not([type=radio]), form select, form textarea {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

form textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

form label {
  color: #495057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

form fieldset {
  border-radius: 1rem;
  border: 0px;
  padding: 1rem;
}

form fieldset.outline {
  border: 2px solid #e9ecef;
}

form fieldset legend {
  color: #495057;
  font-size: 1.2rem;
  font-weight: 600;
}

table {
  width: 70%;
  border-spacing: 0;
}

table td, table th {
  color: #495057;
  text-align: left;
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid #e9ecef;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #495057;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.admin nav {
  padding: 1rem;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f9fa;
}

.admin nav h3 {
  padding: 1rem;
  color: #919599;
  font-weight: 600;
}

.admin nav ul {
  padding: 1rem;
  list-style: none;
}

.admin nav ul a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.admin aside {
  padding: 1rem;
  display: none;
}

@media only screen and (min-width: 600px) {
  .admin aside {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-preferred-size: 10rem;
        flex-basis: 10rem;
  }
}

@media only screen and (min-width: 1024px) {
  .admin aside {
    margin-left: 5rem;
  }
}

.admin aside ul {
  list-style: none;
}

.admin aside ul a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.admin main {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (min-width: 1024px) {
  .admin main {
    margin-right: 5rem;
  }
}

.admin main > div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.admin main table {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #e9ecef;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form fieldset legend {
  color: #919599;
}

form fieldset > * {
  width: 100%;
}

.index {
  background-color: #f8f9fa;
}

.index nav {
  padding: 1rem;
  margin-bottom: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
}

.index nav h3 {
  padding: 1rem;
  color: #495057;
  font-weight: 600;
  font-size: 1.25rem;
}

.index nav h3 i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.index nav ul {
  padding: 1rem;
  list-style: none;
}

.index nav ul a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.index nav ul button, .index nav ul a.button {
  margin-left: 1rem;
}

.index nav ul button i:not(:only-child), .index nav ul a.button i:not(:only-child) {
  margin-right: 0.5rem;
}

.index main * {
  display: inline;
}
/*# sourceMappingURL=playfulcss.css.map */