<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/_system/css/proxima.woff2.css">
  <link rel="stylesheet" href="/_system/css/playfulcss/playfulcss.css">
  <link rel="stylesheet" href="/_system/css/fontawesome-free-5.3.1-web/css/all.min.css">

  <!-- Page Title -->
  <title>Document</title>

</head>

<body>

  <!--
    The Vue instance runs inside this <div id="app">.
    Also, the class="admin" loads the admin style for this page.
      -->
  <div id="app" class="admin">

    <!-- Navigation Bar-->
    <nav>

      <!-- Company Logo -->
      <h3>Remember Them Little</h3>

      <!-- Navigation Links -->
      <ul>
        <li><a href="/app/admin/transactions/" class="color-primary">Transactions</a></li>
        <li><a href="/app/admin/settings/">Settings</a></li>
        <li><a href="#">Link</a></li>
      </ul>

    </nav>

    <!-- Side Navigation Bar -->
    <aside>
      <ul>
        <li><a href="index.html" class="color-primary">Bookings</a></li>
        <li><a href="orders.html">Orders</a></li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main>

      <!-- Action bar -->
      <div>
        <h3>Bookings</h3>
        <button class="primary" @click="$root.$refs.add.show()">Add Booking</button>
      </div>

      <!-- Table -->
      <table>

        <!-- Table headers -->
        <thead>
          <tr>
            <th>Date</th>
            <th>Client Name</th>
            <th>Schedule</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr v-for="booking in bookings">
            <td>{{booking.booking_created}}</td>
            <td>{{booking.account_id}}</td>
            <td>{{booking.booking_date}} | {{booking.booking_time}}</td>
            <td>{{booking.booking_status}}</td>
            <td><a href="#" class="color-primary" @click.prevent="$root.$refs.view.show(booking)">View Details</a></td>
          </tr>
        </tbody>
      </table>

    </main>

    <modal class="modal" inline-template ref="view">

      <!-- Edit Category form -->
      <form v-if="visible" @submit.prevent="$root.approveBooking(params.booking_id); hide();">

        <fieldset>

          <legend>Booking Ref #{{params.booking_id}}</legend>

          <label>Date booked</label>
          <span>{{params.booking_created}}</span>
          <br>

          <label>Client Name</label>
          <span>Margaret Swann</span>
          <br>

          <label>Package Details</label>
          <span>{{params.package_id}}</span>
          <br>

          <label>Themes</label>
          <span>{{params.booking_themes}}</span>
          <br>

          <label>Addons</label>
          <ul>
            <li v-for="addon in JSON.parse(params.booking_addons)">{{addon.addon_type}}: {{addon.addon_description}}</li>
          </ul>
          <br>

          <!-- Action buttons -->
          <div class="flex align-items-center">
            <button @click.prevent="hide">Close</button>
            <button @click.prevent="$root.deleteCategory(params.category_id); hide();" style="margin-left: 0.5rem">Cancel
              Request</button>
            <button type="submit" class="primary" style="margin-left: 0.5rem">Approve</button>
          </div>

        </fieldset>
      </form>

    </modal>

  </div>

  <!-- Imported Scripts -->
  <script src="/_system/js/vendor/vue.js"></script>
  <script src="/_system/js/components/components.js"></script>
  <script src="/_system/js/vendor/vue-resource@1.5.1.js"></script>

  <!-- Local Scripts -->
  <script>

    // Vue Instance
    var app = new Vue({
      el: '#app',
      data: {
        bookings: []
      },
      created: function () {
        this.loadBookings();
      },
      methods: {

        loadBookings: function () {

          Vue.http.get('/_system/php/api/booking/getAll.php')
            .then(
              response => {

                if (response.body.success)
                  this.bookings = response.body.data;
                else
                  console.error(response.body.message);
              },
              response => {
                console.log('fail');
              });
        },

        approveBooking: function (booking_id) {

          var formData = new FormData();
          formData.append('booking_id',booking_id)

          Vue.http.post('/_system/php/api/booking/approveBooking.php',formData)
            .then(
              response => {

                if (response.body.success){
                  this.loadBookings();
                }
                else
                  console.error(response.body.message);
              },
              response => {
                console.log('fail');
              });


        }
      }
    })

  </script>


</body>

</html>