<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#228be6">
    <link rel="stylesheet" href="/_system/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/_system/css/playfulcss/playfulcss.css">
    <link rel="stylesheet" href="/_system/css/proxima.woff3.css">
    <title>Remember Them Little</title>
</head>

<body class="admin transactions">

    <!-- Vue App -->
    <div id="app">

        <!-- App bar-->
        <nav>
            <span>
                <a class="bars" href="#" @click="$root.$refs.drawer.show()">
                    <i class="fas fa-bars"></i>
                </a>
                <a class="brand" href="#">
                    <h3>Admin Console</h3>
                </a>
            </span>
            <span>
                <a class="section_title">
                    <h3>Bookings</h3>
                </a>
            </span>
            <span>
                <span class="links">
                    <a href="/app/admin/calendar/">
                        Dashboard
                    </a>
                    <a href="/app/admin/transactions/bookings.html" class="active">
                        Transactions
                    </a>
                    <a href="/app/admin/reports/">
                        Reports
                    </a>
                    <a href="/app/admin/settings/categories.html">
                        Settings
                    </a>
                </span>
                <a class="search" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </span>

        </nav>

        <div class="sidebar">
            <a href="/app/admin/transactions/bookings.html" >Bookings</a>
            <a href="/app/admin/transactions/orders.html" class="active">Orders</a>
        </div>

        <!-- Main Content -->
        <transition name="slide-left" appear v-cloak>
            
            <main>
                <div class="control">
                    <a class="filter color-primary">
                        <span>All Time</span>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <div class="group">
                        <a href="#" :class="{'active':filter=='ALL'}" @click="filter='ALL'">All
                        </a>
                        <a href="#" :class="{'active':filter=='FOR_APPROVAL'}" @click="filter='FOR_APPROVAL'">
                            For Processing
                        </a>
                    </div>
                </div>
                <table>
                    <tr v-for="order in orders">
                        <td>
                            <span>{{order.account_name}}</span><br>
                            <span style="font-size: 0.8rem">{{order.order_status}}</span>
                        </td>
                        <td style="text-align: right; text-align: -webkit-right;">
                            <button @click="$root.$refs.orders.show(order)">View</button>
                        </td>
                    </tr>
                </table>
            </main>
        </transition>

       
        <modal inline-template ref="orders" v-cloak>
            <transition name="zoom-out">
                <div class="booking-modal" v-if="visible">

                    <h3>
                        <span>Order Details</span>
                        <a href="#" @click="visible=false">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </a>
                    </h3>
                    
                    <table>
                        <thead>
                            <tr>
                                <th>Print size</th>
                                <th>Filename</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in JSON.parse(params.order_list)">
                                <td>{{item.addon.addon_description}}</td>
                                <td>{{item.filename}}</td>
                                <td>{{item.addon.addon_source == 'PACKAGE' ? '(Included in Package)' : item.addon.addon_source == 'BOOKING' ? '(Paid during booking)' : 'Additional Php' + item.addon.addon_price }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="overflow-container">

                        <br>
                        <button @click="$root.notifyForPickup(params.order_id)" v-if="params.order_status=='PROCESSING'">
                            <span>Notify For Pickup</span>
                        </button>
                        <button v-if="params.order_status=='READY FOR PICKUP'">
                            <span>Remind for Pickup</span>
                        </button>
                        <button>
                            <span>Cancel Request</span>
                        </button>
                    </div>
                </div>
            </transition>
        </modal>

        <!-- Sliding Drawer -->
        <sliding-drawer ref="drawer"></sliding-drawer>

    </div>

    <script src="/_system/js/vendor/vue.js"></script>
    <script src="/_system/js/vendor/vue-resource@1.5.1.js"></script>
    <script src="/_system/js/components/components.js"></script>
    <script src="/_system/js/mixins/account.js"></script>
    <script src="/_system/js/mixins/admin.js"></script>
    <script src="/_system/js/mixins/facebook.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            mixins: [accountMixin, adminMixin, facebookMixin],
            data: {
                pageCategory: 'Transactions',
                pageTitle: 'Orders',
                orders: [],
                filter: "ALL"
            },
            mounted: function () {
                this.fbInit();
                this.getAllOrders();
            },
            methods: {
                notifyForPickup(order_id) {
                    //console.log(order_id);
                    var formData = new FormData();
                    formData.append('order_id', order_id);
                    Vue.http.post('/_system/php/api/orders/notifyForPickup.php', formData)
                        .then(
                            response => {
                                if (response.body.success) {
                                    this.getAllOrders();
                                }
                                else
                                    console.error(response.body.message);
                            },
                            response => {
                                console.error(response);
                            });
                }
            }


        })
    </script>

</body>

</html>