<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/_system/css/proxima.woff2.css">
  <link rel="stylesheet" href="/_system/css/playfulcss/playfulcss.css">
  <link rel="stylesheet" href="/_system/css/fontawesome-free-5.3.1-web/css/all.min.css">

  <!-- Page Title -->
  <title>Document</title>

</head>

<body>

  <!--
    The Vue instance runs inside this <div id="app">.
    Also, the class="admin" loads the admin style for this page.
      -->
  <div id="app" class="admin">

    <!-- Navigation Bar-->
    <nav>

        <!-- Company Logo -->
        <h3><i class="fab fa-instagram"></i>Remember Them Little</h3>
  
        <!-- Navigation Links -->
        <ul>
          <!-------------------- CUSTOM FACEBOOK LOGIN BUTTON ----------------------->
  
          <!-- Not authorized / Not connected button -->
          <button v-if="loginStatus.status=='unknown' || loginStatus.status=='not_authorized'" class="primary" @click="login">
            <i class="fab fa-facebook-square"></i><span>Login</span></button>
  
          <!-- Authorized / Connected -->
          <template v-else-if="loginStatus.status=='connected'">
  
            <a class="button outline" style="margin-right: 1rem;" href="/">Back to Home</a>
            <a class="flex align-items-center" @click="logout">
              <img class="profile_pic" :src="fbapi_me.picture.data.url" style="border-radius: 50%; width: 38px">&nbsp&nbsp
              {{fbapi_me.first_name}}&nbsp
              <i class="fas fa-angle-down"></i>
              <!-- <i class="fas fa-sign-out-alt"></i><span>Logout</span></a> -->
            </a>
          </template>
  
          <!-- For undetermined connection / loading -->
          <button v-else class="outline" disabled style="cursor: default">
            <i class="fa fa-sync fa-spin" style="color: #ddd"></i>
            <span style=" color: #ddd">Loading account</span>
          </button>
  
          <!---------------- END OF CUSTOM FACEBOOK LOGIN BUTTON --------------------->
  
        </ul>
  
      </nav>

    <!-- Side Navigation Bar -->
    <aside>
      <ul>
        <li><a href="index.html" class="color-primary">Bookings</a></li>
        <li><a href="orders.html">Orders</a></li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main>

      <!-- Action bar -->
      <div>
        <h3>Bookings</h3>
        <a class="button primary" href="addBooking.html">
          <i class="fas fa-plus"></i>&nbsp
          <span>Book a Pictorial</span>
          
        </a>
      </div>

      <!-- Table -->
      <table>

        <!-- Table headers -->
        <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Pictorial Schedule</th>
            <th>Actions</th>
          </tr>
        </thead>

        <!-- Table body -->
        <tbody>
          <tr v-for="booking in bookings">
            <td>{{booking.booking_created}}</td>
            <td>{{booking.booking_status}}</td>
            <td>{{booking.booking_date}} | {{booking.booking_time}}</td>
            <td class="flex">
                <a href="#" class="color-primary" @click.prevent="$root.$refs.view.show(booking)">Upload Payment</a>&nbsp<hr>&nbsp
                <a href="#" class="color-primary" @click.prevent="$root.$refs.view.show(booking)">View</a>
            </td>
          </tr>
        </tbody>
      </table>

    </main>

    <modal class="modal" inline-template ref="view">

      <!-- Edit Category form -->
      <form v-if="visible" @submit.prevent="$root.approveBooking(params.booking_id); hide();">

        <fieldset>

          <legend>Booking Ref #{{params.booking_id}}</legend>

          <label>Date booked</label>
          <span>{{params.booking_created}}</span>
          <br>

          <label>Client Name</label>
          <span>{{params.account_id}}</span>
          <br>

          <label>Package Details</label>
          <span>{{params.package_id}}</span>
          <br>

          <label>Themes</label>
          <span>{{params.booking_themes}}</span>
          <br>

          <label>Addons</label>
          <ul>
            <li v-for="addon in JSON.parse(params.booking_addons)">{{addon.addon_type}}: {{addon.addon_description}}</li>
          </ul>
          <br>

          <!-- Action buttons -->
          <div class="flex align-items-center">
            <button @click.prevent="hide">Close</button>
            <button @click.prevent="$root.deleteCategory(params.category_id); hide();" style="margin-left: 0.5rem">Reschedule</button>
            <button type="submit" class="primary" style="margin-left: 0.5rem">Upload Payment</button>
          </div>

        </fieldset>
      </form>

    </modal>

  </div>

  <!-- Imported Scripts -->
  <script src="/_system/js/vendor/vue.js"></script>
  <script src="/_system/js/components/components.js"></script>
  <script src="/_system/js/vendor/vue-resource@1.5.1.js"></script>

  <!-- Mixins -->
  <script src="/_system/js/mixins/facebook.js"></script>
  <script src="/_system/js/mixins/bookings.js"></script>

  <!-- Local Scripts -->
  <script>

    // Vue Instance
    var app = new Vue({
      mixins: [FacebookMixin,BookingMethods],
      el: '#app',
      data: {
        bookings: []
      },
      created: function () {
        this.getAllBookingsByAccountId(this.account.account_id);
      },

    })

  </script>


</body>

</html>